@{
    ViewBag.Title = "Home Page";
}



  
    <div class="container"style="background-image: url('../../images/foto-geprinte-kies-3.jpg'); margin-right: 0px; margin-left: 0px; margin-top: 0px; margin-bottom: 50px " >
        

            <div class="col-md-6">
                <h1 style="text-align: center; font-size: 50px;  " >Dental Clinic Management System</h1>
                <p>
                    <br />  
                    <br />

                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                </p>

            </div>

       
    </div>

<div class="row">
    <div class="col-md-4"style=" margin-top: 50px">
        <img src="~/images/Capture.PNGjhj.PNG" width="350" height="350" />
        <h1>General Information</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit nullam nunc justo sagittis suscipit ultrices.</p>
    </div>

    <div class="col-md-4"style=" margin-top: 100px">

        <img src="~/images/Capture.PNGhj.PNG" width="350" height="350"  />
        <h1>Child Dental Health</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit nullam nunc justo sagittis suscipit ultrices.</p>

    </div>

    <div class="col-md-4"style=" margin-top: 50px">

        <img src="~/images/Capture.PNGnvbg.PNG" width="350" height="350" />
        <h1>Diagnosis and Tests</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit nullam nunc justo sagittis suscipit ultrices.</p>
    </div>
</div>